/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

/* Style for the Navigation Bar */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}


section {
    margin: 20px 0;
}

/* Different background colors for each section */
#about {
    background-color: #e3f2fd; /* Light blue */
}

#skills {
    background-color: #e8f5e9; /* Light green */
}

#contact {
    background-color: #fff3e0; /* Light orange */
}

#about, #skills, #projects, #contact {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

ul li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#contact p {
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 10px;
    }
}

nav ul li:hover {
    background-color: #cae6eb73;
    transition: background-color 0.3s ease;
}

/* Profile Photo and Header Styling */


.profile-container img {
    width: 150px;
    height: 100px;
    border-radius: 50%; /* Makes the image circular */
    margin-right: 20px;
    border: 3px solid white; /* Optional: A border around the image */
}


